CONFIG_ARM=y
CONFIG_SYS_CONFIG_NAME="s5p6818_drone"
CONFIG_ARCH_NEXELL=y
CONFIG_ARCH_S5P6818=y
CONFIG_SYS_MALLOC_F=y
CONFIG_DEFAULT_DEVICE_TREE="s5p6818-drone"
CONFIG_FIT=y
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
CONFIG_CMD_FDISK=y
CONFIG_CMD_EXT4_IMG_WRITE=y
CONFIG_CMD_SD_RECOVERY=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
